body {
  font-size: 1.2rem;
}



.column {
  float: left;
  width: 27%;
  margin-right: 6%
}

img {
  max-width: 100%;
  height: auto;
}

.main {
float: left;

}

.column p {
font-family:sans-serif;
color: #1E90FF;
font-size: 1rem;

}

@media screen and (max-width: 480px) {

  .column {
    width: 90%;
  }

}


@media screen and (max-width: 768px) and (min-width: 480px) {

  .column {
    float: left;
    width: 45%;
    margin-right: 5%
  }



}
